main {
  margin: 0;
  display: flex;
  position: fixed;
  top: 65px;
  left: 0px;
  height: calc(100vh - 64px);
  width: 100vw;
}

.mainNavbar {
  margin: 0;
  display: flex;
  height: 64px;
  width: 100vw;
  border-bottom: solid 1px;
  border-bottom-color: lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  color: #FFFFFF
}

.signOutButton {
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 500;
  background-color: transparent;
  border-color: transparent;
  color: #2B2B2B;
  position: fixed;
  right: 10px;
  height: 44px;
  top:10px
}

.Sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 64px;
  left: 0px;
  width: 380px;
  height: calc(100vh - 64px);
  border-right: lightgrey 1rem solid;
  background: #D3D3D3;
}

.MainPanel {    
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 64px;
  background: #F0F0F0;
  z-index: 0;
}

.sidebarListGroup {
  display: inline-block;
  position: relative;
  top: 55px;
  background-color: #D3D3D3;
  max-height: calc(100vh - 150px);
  border: none;
}
.sidebarListGroupItem {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  background-color: #D3D3D3;
  border-top: #E2E2E2 1px;
}

.sidebarListGroupItem:hover {
  background-color: #bebebe;
}

.navDropdown{
  z-index: 2;
  background-color: rgb(255 255 255);
}

.dropdownBox {
  width: 100vw;
  height: fit-content;
}

.navDropdownItem {
  padding: 10px;
}


.sidebarObjSize {
  display: inline-block;
  width: 340px;
  position: relative;
  left: 10px;
}

.sidebarListGroupHorizontal {
  height: 1px;
  color: #E2E2E2;
}
